.app-container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.app-content {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.app-viewport {
  overflow-y: auto;
  position: absolute;
  top: 85px;
  left: 90px;
  right: 0;
  bottom: 0;
  padding-right: 20px;
}

.app-editor-controls {
  position: absolute;
  left: 90px;
  right: 0;
  z-index: 999;
}

/* These elements are created by AlphaTab */

.at-cursor-bar {
  /* Defines the color of the bar background when a bar is played */
  background: rgba(255, 242, 0, 0.25);
}

.at-selection div {
  /* Defines the color of the selection background */
  background: rgba(64, 64, 255, 0.2);
}

.at-cursor-beat {
  /* Defines the beat cursor */
  background: rgba(64, 64, 255, 0.75);
  width: 3px;
}
